{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
    <p>Name and password is not correct.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>You do not have permission to access this page.</p>
    {% else %}
        <p>Please log in to see this page.</p>
    {% endif %}
{% endif %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>

        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">You do not have a password?</a></p>
{% endblock %}