{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed books</h1>
    {% if borrowed_users %}
    <ul>
        {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}
                                        text-danger{% endif %}">
            <a href="{% url 'book_detail' bookinst.book.pk %}">
                {{ bookinst.book.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no books in the "ON ORDER" status.</p>
    {% endif %}
{% endblock %}