{% extends "base_generic.html" %}

{% block content %}
    <h1>Books list</h1>
    {% if book_list %}
    <ul>
        {% for book in book_list.all %}
        <li>
            <a href="{{ book.get_absolute_url }}">
                     {{ book.title }}</a>
                     ({{ book.display_genre }})
            <a href="/book/update/{{ book.id }}">Change</a>
            <a href="/book/delete/{{ book.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>In DB not books</p>
    {% endif %}
{% endblock %}