{% extends "base_generic.html" %}

{% block content %}
    <h1>Name book: {{ book.title }}</h1>

    <p><strong>Genre:</strong> {{ book.display_genre }}</p>
    <p><strong>Summary:</strong> {{ book.summary }}</p>
    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    <p><strong>Language:</strong> {{ book.display_language }}</p>
        {% for author in book.author.all %}
            <p><strong>Author:</strong>
            <a href="">{{ author.first_name }}
                       {{ author.last_name }}</a></p>
        {% endfor %}
<div style="margin-left:20px;margin-top:20px">
    <h4>Books in DB</h4>
    {% for copy in book.bookinstance_set.all %}
        <hr><p class="{% if copy.status == 1 %} text-success
                      {% elif copy.status == 2 %} text-danger
                      {% else %} text-warning
                      {% endif %}"> {{ copy.get_status_display }}</p>
        <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
        <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
        <p><strong>Status: </strong> {{ copy.display_status }}</p>
    {% endfor %}
</div>
{% endblock %}
<p><strong>Author:</strong> <a href="">{{ author.first_name }}
{{ author.last_name }}</a></p>